/*.search-bar{
  display: block;
 }*/
body {
  padding-top: 90px;
}

 .header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid rgb(228,228,228);
  z-index: 100;
 }

 .left-section{
  /*background-color: lightblue;
  width: 150px;*/
  align-items: center;
  display: flex;
  
 }
 
 .hamburger-menu{
  height: 25px;
  margin-left: 24px;
  margin-right: 20px;
 }
 .youtube-logo{
 height: 20px;
 }

 .middle-section {
 /* background-color: lightpink;*/
  flex: 1;
  margin-left: 70px;
  margin-right: 30px;
  max-width: 500px;
  display: flex;
  align-items: center;
 }
.search-bar{
  flex: 1;
  height: 36px;
  width: 0;/*this width allows the bar to shrink when size reduces*/
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(196, 194, 194);
  border-radius: 2px;
  box-shadow:inset 1px 2px 3px rgba(0,0,0, 0.05);
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px
}
 .search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(240,240,240);
  border: 1px solid rgb(240,240,240);
  margin-left: -1px;
  margin-right: 10px;
<<<<<<< HEAD
 }

 .search-button, .voice-search-button, .pload-icon-container, .youtube-apps-container, .notifications-icon-container {
  position: relative;
  display: flex; /*used to center tooltip*/
  align-items: center;/*center tooltip vertically*/
  justify-content: center;/*center tooltip horizontally*/
 }
 .search-button .tooltip, .voice-search-button .tooltip,
  .youtube-apps-container .tooltip, .notifications-icon-container .tooltip {
  font-family: Roboto, Arial;
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;/*this stops hover on tooltip itself*/
  white-space: nowrap; /*this code makes voice tooltip text wrap to next line*/
 }
 

 
.upload-icon-container{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.upload-icon-container .tooltip{/* separated upload-icon because general styles where not working*/
  font-family: Roboto, Arial;
  background-color: gray;
  color: white;
  font-size: 12px;
  position: absolute;
  opacity: 0;
  padding: 4px 8px;
  border-radius: 2px;
  bottom: -30px;
}

.search-button:hover .tooltip, .voice-search-button:hover .tooltip, 
.upload-icon-container:hover .tooltip, .youtube-apps-container:hover .tooltip, .notifications-icon-container:hover .tooltip{
  opacity: 1;
}

=======

 }

 .search-button, .voice-search-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .search-button .tooltip, .voice-search-button .tooltip {
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
 }

 .search-button:hover .tooltip, .voice-search-button .tooltip {
  opacity: 1;
 /*transition: 0pacity 0.15s;*/ 
 }
>>>>>>> 7651a4cfb7f871743036720baa2c9eac4d9bf154
 .search-icon {
  height: 25px;
 /* margin-top: ;*/
 }
 .voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
  border: none;
 }
<<<<<<< HEAD
 
 .voice-search-icon{
  height: 24px;
  margin-top: 4px;
 }



=======

 .voice-search-icon{
  height: 24px;
  margin-top: 4px;
  
 }
>>>>>>> 7651a4cfb7f871743036720baa2c9eac4d9bf154
 .right-section {
  /*background-color: lightblue;*/
  width: 180px;
  margin-right: 20px;
  border: none;
  display: flex;
  flex-shrink: 0;/*denies icons from shrinking when space reduces*/
 align-items: center;
 justify-content: space-between;
 }

.upload-icon{
height: 24px;
}

.youtube-apps-icon{
  height: 24px;
}

.notifications-icon{
  height: 24px;
}
.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: red;
  color: white;
  font-family: Roboto,Arial;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
}

.current-user-picture{
  height: 32px;
  border-radius: 16px;
}

<<<<<<< HEAD

=======
>>>>>>> 7651a4cfb7f871743036720baa2c9eac4d9bf154
