.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 57px;
  width: 40px;
  background-color: white;
  width: 70px;
  display: flex;
  flex-direction: column;
}
.sidebar img{
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

.sidebar .sidebar-icon-name{
  font-family: Roboto, Arial;
  font-size: 10px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 400;
  color: #212529;
  line-height: 2;
}
 
.sidebar .sidebar-link {

  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}